<template>
	<div class="audio-select">
		<div class="text-white font-bold mb-1">
			{{label}}
		</div>
		<div class="label" tabindex="-1">
			<div>{{modelValue || "Select an option..."}}</div>
		</div>
		<div class="dropdown">
			<div class="option" v-for="option of options" :key="option.label" @click="updateValue(option.label)" tabindex="-1">{{option.label}}</div>
		</div>
	</div>
</template>
<script>

export default {
	props: {
		modelValue: {
			type: String,
			required: true,
		},
		options: {
			type: Array,
			required: true,
		},
		label: {
			type: String,
			required: true,
		},
	},
	emits: ["update:modelValue"],
	methods: {
		updateValue(value) {
			this.$emit("update:modelValue", value);
			let active = document.activeElement;
			if (active) {
				active.blur();
			}
		}
	}
}
</script>
