@import "tailwindcss" ;

html, body, #app{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    @apply bg-zinc-800 overflow-hidden;
}

.audio-select {
    @apply relative;
    & .label {
        @apply select-none cursor-pointer whitespace-nowrap border rounded-sm p-2 w-full bg-white;
        & div {
            @apply overflow-hidden;
        }
    }
    & .dropdown {
        @apply hidden absolute bg-zinc-700 py-2 w-full border rounded-sm;
        & .option {
            @apply p-2 hover:bg-zinc-600 text-sm text-white cursor-pointer;
        }
    }
    &:focus-within .dropdown{
        @apply block;
    }
}