<template>
	<div v-if="!configured" class="absolute w-11/12 md:w-7/12 2xl:w-3/12 bg-zinc-700 p-4 rounded-sm top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
		<div
			class="grid mb-4 gap-4 grid-cols-2 items-center"
		>
			<div class="w-full">
				<audio-select v-model="input" :options="inputs" label="Input"/>
			</div>
			<div class="w-full">
				<audio-select v-model="output" :options="outputs" label="Output"  v-if="outputs.length"/>
			</div>
			<label class="text-white w-full text-right">
				Stream video?
				<input type="checkbox" v-model="video" />
			</label>
			<div class="w-full">
				<audio-select v-model="videoSource" :options="videoSources" label="Video Source"  v-if="video"/>
			</div>
		</div>
		<button @click="configure" class="p-2 bg-blue-600 text-white rounded-sm w-full">Start</button>
	</div>
	<div class="w-full h-full" v-else-if="video">
		<video autoplay="true" class="w-full h-full" id="video-el" />
	</div>
	<div class="w-full h-full" v-else>
		<span class="absolute top-0 right-0 rounded-bl-sm p-2 text-white bg-zinc-700 flex flex-row items-center gap-2 opacity-0 hover:opacity-100 focus-within:opacity-100">
			Color 1: <input type="color" v-model="color1"/>
			Color 2: <input type="color" v-model="color2"/>
			<input type="range" v-model="volume" min="0" max="1" step=".01"/>
			<button @click="muted = !muted" class="p-2 bg-blue-600 text-white rounded-sm">
				{{muted ? "Unmute": "Mute"}}
			</button>
		</span>
		<canvas id="visualization" class="w-screen h-screen"/>
	</div>
</template>

<script>
import AudioSelect from "@/components/AudioSelect.vue";

const audioContext = new AudioContext();
const gain = audioContext.createGain();
const audio = new Audio();
gain.gain.value = 2;
export default {
	name: 'App',
	components: {
		AudioSelect,
	},
	data() {
		return {
			inputs: [],
			outputs: [],
			videoSources: [],
			input: "",
			output: "",
			videoSource: "",
			vizCtx: null,
			gradient: null,
			vizWidth: 0,
			vizHeight: 0,
			analyserL: null,
			analyserR: null,
			fftSize: 32768,
			audBufL: new Uint8Array(32768),
			audBufR: new Uint8Array(32768),
			sliceWidth: 0,
			viz: null,
			color1: "#f535aa",
			color2: "#35ABF5",
			configured: false,
			muted: false,
			volume: 1,
			video: false,
		};
	},
	mounted() {
		navigator.serial.getPorts();
		let constraints = window.constraints = {
			audio: true,
			video: true
		};
		navigator.mediaDevices.getUserMedia(constraints)
			.then((stream) => {
				window.stream = stream;
				return navigator.mediaDevices.enumerateDevices();
			})
			.then((devices) => {
				for (const device of devices) {
					if (device.kind === "audioinput") {
						this.inputs.push(device);
					}
					if (device.kind === "audiooutput") {
						this.outputs.push(device);
					}
					if (device.kind === "videoinput") {
						this.videoSources.push(device);
					}
				}
			})
	},
	computed: {
		activeInput() {
			for (const device of this.inputs) {
				if (device.label === this.input) {
					return device;
				}
			}
			return null;
		},
		activeOutput() {
			for (const device of this.outputs) {
				if (device.label === this.output) {
					return device;
				}
			}
			return null;
		},
		colors() {
			return [this.color1, this.color2];
		}
	},
	methods: {
		async startViz(input) {
			await audioContext.resume();
			this.viz = document.getElementById("visualization");
			let audioSource = audioContext.createMediaStreamSource(input);
			audioSource.connect(gain);
			
			if (this.activeOutput) {
				let destination = audioContext.createMediaStreamDestination()
				gain.connect(destination);

				audio.volume = parseInt(this.volume);
				audio.srcObject = destination.stream;
				audio.setSinkId(this.activeOutput.deviceId);
				audio.play();
			} else {
				gain.connect(audioContext.destination);
			}

			this.analyserL = audioContext.createAnalyser();
			this.analyserR = audioContext.createAnalyser();
			this.analyserR.fftSize = this.analyserL.fftSize = this.fftSize;
			this.analyserL.getByteTimeDomainData(this.audBufL);
			this.analyserR.getByteTimeDomainData(this.audBufR);

			let audSplit = audioContext.createChannelSplitter(2);
			audioSource.connect(audSplit);
			audSplit.connect(this.analyserL, 0);
			audSplit.connect(this.analyserR, 1);

			this.viz.height = this.vizHeight = window.innerHeight;
			this.viz.width = this.vizWidth = window.innerWidth;
			this.vizCtx = this.viz.getContext("2d");
			this.setGradient();
			this.vizCtx.clearRect(0, 0, this.vizWidth, this.vizHeight);

			this.sliceWidth = ((this.vizWidth / 2) * 1.0 / this.fftSize) * 8;

			window.addEventListener("resize", this.resize);
			requestAnimationFrame(this.draw);
		},
		draw() {
			requestAnimationFrame(this.draw);
			this.vizCtx.strokeStyle = this.gradient;
			this.vizCtx.lineWidth = 8;
			this.vizCtx.clearRect(0, 0, this.vizWidth, this.vizHeight);
			this.vizCtx.beginPath();
			let x = 0;
			this.analyserL.getByteTimeDomainData(this.audBufL);
			this.analyserR.getByteTimeDomainData(this.audBufR);

			for(let i = 0; i < this.fftSize; i+=8) {
				const v = this.audBufL[i]/128;
				const y = v * this.vizHeight/2 - 1;

				if (i === 0) {
					this.vizCtx.moveTo(x, y);
				}
				else {
					this.vizCtx.lineTo(x, y);
				}

				x += this.sliceWidth;
			}
			this.vizCtx.stroke();
			this.vizCtx.beginPath();
			x = this.vizWidth / 2;
			for(let i = this.fftSize - 1; i >= 0; i-=8) {
				const v = this.audBufR[i]/128;
				const y = v * this.vizHeight/2 -1;

				if (i === 0) {
					this.vizCtx.moveTo(x, y);
				}
				else {
					this.vizCtx.lineTo(x, y);
				}
				x += this.sliceWidth;
			}
			this.vizCtx.stroke();
			this.vizCtx.beginPath();
			this.vizCtx.lineTo(this.vizWidth, this.vizHeight/2);
			this.vizCtx.strokeStyle = "#444";
			this.vizCtx.lineWidth = 2;
			this.vizCtx.moveTo(this.vizWidth / 2, this.vizHeight);
			this.vizCtx.lineTo(this.vizWidth / 2, 0);
			this.vizCtx.moveTo(0,this.vizHeight / 2)
			this.vizCtx.stroke();
		},

		resize() {
			this.viz = document.getElementById("visualization")
			this.vizHeight = this.viz.height = window.innerHeight;
			this.vizWidth = this.viz.width = window.innerWidth;

			this.setGradient();

			this.vizCtx.clearRect(0, 0, this.vizWidth, this.vizHeight);

			this.sliceWidth = ((this.vizWidth / 2) * 1.0 / this.fftSize) * 8;
		},
		configure() {
			if (this.activeInput !== null && (this.activeOutput !== null || !this.outputs.length)) {
				this.configured = true;
				const videoInfo = this.video ? {deviceId: this.videoSource, frameRate: {max: 30}} : null;
				const inConstraints = {
					audio: {
						deviceId: this.activeInput.deviceId ? {exact: this.activeInput.deviceId} : undefined,
						sampleSize: 512,
						echoCancellation: false,
						autoGainControl: false,
						noiseSuppression: false,
					},
					video: videoInfo,
				};
				navigator.mediaDevices.getUserMedia(inConstraints).then(inStream => {
					if (!this.video) {
						this.startViz(inStream);
					} else {
						document.querySelector("#video-el").srcObject = inStream;
					}
				});
			}
		},
		setGradient() {
			this.gradient = this.vizCtx.createLinearGradient(0,0,0, this.vizHeight);
			this.gradient.addColorStop(0, this.colors[0]);
			this.gradient.addColorStop(.25, this.colors[0]);
			this.gradient.addColorStop(.5, this.colors[1]);
			this.gradient.addColorStop(.75, this.colors[0]);
			this.gradient.addColorStop(1, this.colors[0]);
		}
	},
	watch: {
		volume() {
			audio.volume = parseFloat(this.volume);
		},
		muted() {
			gain.gain.value = this.muted ? 0 : 2;
		},
		colors() {
			this.setGradient();
		}
	}
}
</script>
